@media (max-width: 768px) {
  :root {
    --header_width:100vw;
    --header_height:60vh;
    --headerOverlay_padding: 0 5%;
    --nonHeaderDisplay_width:100vw;
    --onscreenDisplay_height:80vh;
    --nonHeader_width:45vw;
    --nonHeader_height:65vw;
    --cardDescription_font:35px;
    --border_radius:0;
  }
  :root .moviedate {
    font-size: 1.5rem;
  }
  :root .movietime {
    font-size: 2rem;
  }
  :root .date_bar, :root .time_bar {
    min-width: 60px;
  }
}
@media (min-width: 768px) {
  :root {
    --onscreenDisplay_height:80vh;
    --nonHeader_width:30vw;
    --nonHeader_height:45vw;
    --header_height:70vh;
    --nonHeaderDisplay_width:90vw;
  }
  :root .moviedate {
    font-size: 2rem;
  }
  :root .movietime {
    font-size: 2.5rem;
  }
  :root .date_bar, :root .time_bar {
    min-width: 70px;
  }
}
@media screen and (min-width: 1366px) {
  :root {
    --header_width:45vw;
    --header_height:95vh;
    --headerOverlay_padding: 5% 10%;
    --nonHeaderDisplay_width:55vw;
    --onscreenDisplay_height:85vh;
    --nonHeader_width:27vh;
    --nonHeader_height:38vh;
    --border_radius:0 0 30px 30px;
  }
  :root div.top_container {
    width: var(--header_width);
    height: 100vh;
    position: fixed;
  }
  :root header, :root div.bottom_container {
    margin-left: var(--header_width);
  }
  :root div.bottom_container {
    height: fit-content;
    width: var(--nonHeaderDisplay_width);
    text-align: center;
  }
  :root .logo {
    top: 1%;
    left: 64.5%;
  }
  :root header.cinemas {
    margin-left: 0;
  }
  :root .onscreen_display.cinemas {
    width: 100vw;
    margin-left: 0;
  }
}

body {
  background-color: #091c30;
}

div.container::before {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.7) 59%, rgba(0, 0, 0, 0.65) 100%), url("images/priyanka-singh-Jt72_opb38I-unsplash.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.container {
  color: #e9ae2d;
  z-index: 2;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  width: 153px;
  height: 51px;
}

.profile_icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  object-fit: cover;
  object-position: top;
}

.pageheading {
  margin: 0 auto;
}

.card-display {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  flex-flow: row nowrap;
  width: var(--header_width);
  height: var(--header_height);
  border-radius: var(--border_radius);
}
.card-display .card {
  scroll-snap-align: center;
  position: relative;
  flex: none;
}
.card-display .card {
  width: 100%;
  height: var(--header_height);
}
.card-display .card .overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  visibility: hidden;
  transition: opacity 0.35s ease-in-out;
  background-color: #000000b8;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #e9ae2d;
}
.card-display .card .overlay .title {
  margin: 10px 0 10px 0;
  overflow: auto;
}
.card-display .card .overlay h3.subtitle {
  margin: 0;
}
.card-display .card .overlay .card_description {
  width: 90%;
  max-height: 50%;
  margin-bottom: 15px;
  overflow-y: scroll;
  color: #eeeeee;
}
.card-display .card .overlay button {
  border-radius: 10px;
  width: 40%;
  background-color: #e9ae2d;
  border: 1px solid #e9ae2d;
  text-transform: capitalize;
  font-weight: bold;
}
.card-display .card .overlay button a {
  text-decoration: none;
  color: #091c30;
}
.card-display .card .overlay button:hover {
  background-color: #091c30;
}
.card-display .card .overlay button:hover a {
  color: #e9ae2d;
}
.card-display .card .overlay span {
  justify-content: space-between;
  display: flex;
  padding: 0 5%;
}
.card-display .card.viewing .overlay, .card-display .card.active .overlay {
  visibility: visible;
}
.card-display .card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-display .card > img {
  border-radius: var(--border_radius);
}
.card-display .card .overlay {
  padding: var(--headerOverlay_padding);
}

div.carousel_indicator {
  position: relative;
  margin: 5px auto;
  width: 40%;
  height: 25px;
}
div.carousel_indicator span.carousel_outline {
  display: flex;
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 25%;
  justify-content: space-between;
}
div.carousel_indicator span.carousel_outline img {
  width: 15px;
  height: 15px;
  opacity: 0.6;
  border-radius: 50%;
}

.datetime-display {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  width: 100vw;
  height: fit-content;
}
.datetime-display .card {
  scroll-snap-align: center;
  position: relative;
  flex: none;
}
.datetime-display .moviedate {
  display: flex;
  flex-direction: column;
  min-width: 5vw;
  color: white;
  justify-content: space-evenly;
}
.datetime-display > .card {
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.date_bar, .time_bar {
  position: absolute;
  transform-origin: center left;
  margin: 10px 0 0 0;
  height: 4px;
  background: #e9ae2d;
  border-radius: 10px;
}

.scroll_container {
  margin-bottom: 30px;
}

div.onscreen_display {
  display: flex;
  overflow-x: auto;
  width: var(--nonHeaderDisplay_width);
  height: var(--onscreenDisplay_height);
  flex-flow: column wrap;
  justify-content: space-evenly;
}
div.onscreen_display .onscreen_card, div.onscreen_display .recentview_cards {
  justify-content: space-evenly;
  margin: 0 15px;
  position: relative;
  width: var(--nonHeader_width);
  height: var(--nonHeader_height);
  transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
div.onscreen_display .onscreen_card .overlay, div.onscreen_display .recentview_cards .overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  visibility: hidden;
  transition: opacity 0.35s ease-in-out;
  background-color: #000000b8;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #e9ae2d;
}
div.onscreen_display .onscreen_card .overlay .title, div.onscreen_display .recentview_cards .overlay .title {
  margin: 10px 0 10px 0;
  overflow: auto;
}
div.onscreen_display .onscreen_card .overlay h3.subtitle, div.onscreen_display .recentview_cards .overlay h3.subtitle {
  margin: 0;
}
div.onscreen_display .onscreen_card .overlay .card_description, div.onscreen_display .recentview_cards .overlay .card_description {
  width: 90%;
  max-height: 50%;
  margin-bottom: 15px;
  overflow-y: scroll;
  color: #eeeeee;
}
div.onscreen_display .onscreen_card .overlay button, div.onscreen_display .recentview_cards .overlay button {
  border-radius: 10px;
  width: 40%;
  background-color: #e9ae2d;
  border: 1px solid #e9ae2d;
  text-transform: capitalize;
  font-weight: bold;
}
div.onscreen_display .onscreen_card .overlay button a, div.onscreen_display .recentview_cards .overlay button a {
  text-decoration: none;
  color: #091c30;
}
div.onscreen_display .onscreen_card .overlay button:hover, div.onscreen_display .recentview_cards .overlay button:hover {
  background-color: #091c30;
}
div.onscreen_display .onscreen_card .overlay button:hover a, div.onscreen_display .recentview_cards .overlay button:hover a {
  color: #e9ae2d;
}
div.onscreen_display .onscreen_card .overlay span, div.onscreen_display .recentview_cards .overlay span {
  justify-content: space-between;
  display: flex;
  padding: 0 5%;
}
div.onscreen_display .onscreen_card.viewing .overlay, div.onscreen_display .onscreen_card.active .overlay, div.onscreen_display .recentview_cards.viewing .overlay, div.onscreen_display .recentview_cards.active .overlay {
  visibility: visible;
}
div.onscreen_display .onscreen_card > img, div.onscreen_display .recentview_cards > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.onscreen_display .onscreen_card > img, div.onscreen_display .recentview_cards > img {
  border-radius: 30px;
}
div.onscreen_display .onscreen_card .overlay, div.onscreen_display .recentview_cards .overlay {
  transition: opacity 0.35s ease-in-out;
}
div.onscreen_display .onscreen_card.viewing, div.onscreen_display .recentview_cards.viewing {
  z-index: 2;
  box-shadow: 0px 2px 23px 7px rgba(0, 0, 0, 0.87);
  border: 0.5px solid #e9ae2d;
  border-radius: 30px;
}
div.onscreen_display .onscreen_card.viewing .overlay, div.onscreen_display .recentview_cards.viewing .overlay {
  padding: 0 10px;
  border-radius: 30px;
}
div.onscreen_display .onscreen_card.viewing .overlay .title, div.onscreen_display .onscreen_card.viewing .overlay .subtitle, div.onscreen_display .recentview_cards.viewing .overlay .title, div.onscreen_display .recentview_cards.viewing .overlay .subtitle {
  letter-spacing: 1.5px;
}
div.onscreen_display .onscreen_card.viewing .overlay button, div.onscreen_display .recentview_cards.viewing .overlay button {
  padding: 0;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}
div.onscreen_display .onscreen_card.viewing .overlay .card_description, div.onscreen_display .recentview_cards.viewing .overlay .card_description {
  height: 50%;
  letter-spacing: 0.5px;
}
div.onscreen_display .onscreen_card:nth-of-type(odd) {
  transform-origin: top right;
}
div.onscreen_display .onscreen_card:nth-of-type(odd).viewing {
  transform: scale(2) translate(0, 2%);
}
div.onscreen_display .onscreen_card:nth-of-type(even) {
  transform-origin: bottom left;
}
div.onscreen_display .onscreen_card:nth-of-type(even).viewing {
  transform: scale(2) translate(0, -2%);
}
div.onscreen_display .onscreen_card:last-of-type {
  transform-origin: bottom right;
}
div.onscreen_display .onscreen_card:first-of-type {
  transform-origin: top left;
}

div.comingsoon_display {
  display: flex;
  overflow-x: auto;
  width: var(--nonHeaderDisplay_width);
  height: calc(var(--onscreenDisplay_height) / 2);
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
div.comingsoon_display .comingsoon_cards, div.comingsoon_display .tickets_cards {
  width: var(--nonHeader_width);
  height: var(--nonHeader_height);
  margin: 0 15px;
}
div.comingsoon_display .comingsoon_cards .overlay, div.comingsoon_display .tickets_cards .overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  visibility: hidden;
  transition: opacity 0.35s ease-in-out;
  background-color: #000000b8;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #e9ae2d;
}
div.comingsoon_display .comingsoon_cards .overlay .title, div.comingsoon_display .tickets_cards .overlay .title {
  margin: 10px 0 10px 0;
  overflow: auto;
}
div.comingsoon_display .comingsoon_cards .overlay h3.subtitle, div.comingsoon_display .tickets_cards .overlay h3.subtitle {
  margin: 0;
}
div.comingsoon_display .comingsoon_cards .overlay .card_description, div.comingsoon_display .tickets_cards .overlay .card_description {
  width: 90%;
  max-height: 50%;
  margin-bottom: 15px;
  overflow-y: scroll;
  color: #eeeeee;
}
div.comingsoon_display .comingsoon_cards .overlay button, div.comingsoon_display .tickets_cards .overlay button {
  border-radius: 10px;
  width: 40%;
  background-color: #e9ae2d;
  border: 1px solid #e9ae2d;
  text-transform: capitalize;
  font-weight: bold;
}
div.comingsoon_display .comingsoon_cards .overlay button a, div.comingsoon_display .tickets_cards .overlay button a {
  text-decoration: none;
  color: #091c30;
}
div.comingsoon_display .comingsoon_cards .overlay button:hover, div.comingsoon_display .tickets_cards .overlay button:hover {
  background-color: #091c30;
}
div.comingsoon_display .comingsoon_cards .overlay button:hover a, div.comingsoon_display .tickets_cards .overlay button:hover a {
  color: #e9ae2d;
}
div.comingsoon_display .comingsoon_cards .overlay span, div.comingsoon_display .tickets_cards .overlay span {
  justify-content: space-between;
  display: flex;
  padding: 0 5%;
}
div.comingsoon_display .comingsoon_cards.viewing .overlay, div.comingsoon_display .comingsoon_cards.active .overlay, div.comingsoon_display .tickets_cards.viewing .overlay, div.comingsoon_display .tickets_cards.active .overlay {
  visibility: visible;
}
div.comingsoon_display .comingsoon_cards > img, div.comingsoon_display .tickets_cards > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.comingsoon_display .comingsoon_cards img, div.comingsoon_display .tickets_cards img {
  border-radius: 30px;
}

input.search_bar {
  width: 60vw;
  height: 40px;
  font-family: "Bebas Neue", "roboto";
  padding: 10px;
  border: transparent;
  outline: none;
  border-radius: 20px;
  font-size: 2.5rem;
  letter-spacing: 3px;
  text-align: center;
  margin: 20px auto;
  border-radius: 30px;
  color: #e9ae2d;
  background: url("images/search_icon.svg") no-repeat;
  background-position: 95% center;
  background-size: 30px;
}

input.search_bar:focus {
  background-color: rgba(54, 54, 54, 0.644);
}

/*# sourceMappingURL=index.css.map */
